@media screen and (max-width: 1000px){
    body{
        background-color: #badff2;
    }
}

.container{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30px 80px 20px;
    grid-template-areas: "header header"
                        "sidenav main"
                        "footer footer";
    gap: 16px ;
}

.header{
    grid-area: header;
    border: 2px solid purple;
    background-color: bisque;
}

.sidenav{
    grid-area: sidenav;
    border: 2px solid purple;
    background-color: bisque;
}

.main{
    grid-area: main;
    border: 2px solid purple;
    background-color: bisque;
}

.footer{
    grid-area: footer;
     border: 2px solid purple;
     background-color: bisque;
}