.container{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
 
    gap: 10px;
}

.item{
    border: 2px solid rgb(107, 46, 220);
    background-color: rgb(118, 94, 152);
    text-align: center;
    color: antiquewhite;
    font-size: 20px;
}