.container{
    width: 750px;
    height: 750px;
    margin: auto;
    background-color: rgb(251, 249, 247);
    border: 5px solid #0e0101;
}

header{
    height: 150px;
    background-color: blueviolet;
    padding: 10px;
}

nav{
    width: 200px;
    height: 400px;
    background: #7dcc7d;
    padding: 10px;
}

article {
    float: right;
    padding: 20px;
    width: 450px;
    background-color: #f1f1f1;
    border: 5px solid #0e0101;
  }


footer{
    height: 150px;
    background-color: blueviolet;
}


  
